
<div class= "tab">
  <nav>
    <button type="button" routerLink="/heroes">  Heroes</button>
    <button type="button" *ngIf="userIsAuthenticated" routerLink="/createHeroes">Create Heroes</button>
    <button type="button" *ngIf="!userIsAuthenticated"routerLink="/signUp" class="btn btn-primary">SignUp</button>
  <button type="button" *ngIf="!userIsAuthenticated"routerLink="/signIn" class="btn btn-primary">SignIn</button>
  <button type="button" *ngIf="userIsAuthenticated" class="btn btn-primary" (click)="logMeOut()">logOut</button>
  <button type="button" routerLink="/contactUs" class="btn btn-primary">ContactUs</button>
  </nav>

</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- <link href="node_modules/ng2-toastr/bundles/ng2-toastr.min.css" rel="stylesheet" />
<script src="node_modules/ng2-toastr/bundles/ng2-toastr.min.js"></script> -->



<router-outlet></router-outlet>

