.styleAni{
    border : 1PX solid black;
    margin:auto;
    width:60%;
    border-radius: 200px;
    text-align: center



}
mat-accordion,mat-expansion-panel{
  width:70%;
  margin:auto
}
h3{
  text-align: center;
  color: darkblue
}
